<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">

    <mat-card>
      <mat-card-content>
        <h2>Users</h2>

        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
            <td mat-cell *matCellDef="let user"> {{user.id}} </td>
          </ng-container>

          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> first name </th>
            <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
          </ng-container>

          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> last name </th>
            <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
          </ng-container>

          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> username </th>
            <td mat-cell *matCellDef="let user"> {{user.username}} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
            <td mat-cell *matCellDef="let user"> {{user.email}} </td>
          </ng-container>

          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> gender </th>
            <td mat-cell *matCellDef="let user"> {{user.gender}} </td>
          </ng-container>

          <ng-container matColumnDef="authorities">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> authorities </th>
            <td mat-cell *matCellDef="let user"> {{user.authorities}} </td>
          </ng-container>

          <ng-container matColumnDef="growthPlans">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> growth plans </th>
            <td mat-cell *matCellDef="let user"> {{user.growthPlans.length}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </mat-card-content>
    </mat-card>


  </div>
</div>
